/*                           _      _       _
    ___ ___  _ __ ___  _ __ | | ___| |_ ___| |_   _
   / __/ _ \| '_ ` _ \| '_ \| |/ _ \ __/ _ \ | | | |
  | (_| (_) | | | | | | |_) | |  __/ ||  __/ | |_| |
   \___\___/|_| |_| |_| .__/|_|\___|\__\___|_|\__, |
                      |_|                     |___/

   _   _ _ __  _ __   ___  ___ ___  ___ ___  __ _ _ __ _   _
  | | | | '_ \| '_ \ / _ \/ __/ _ \/ __/ __|/ _` | '__| | | |
  | |_| | | | | | | |  __/ (_|  __/\__ \__ \ (_| | |  | |_| |
   \__,_|_| |_|_| |_|\___|\___\___||___/___/\__,_|_|   \__, |
                                                       |___/
*/

html, body {
  width: 100%;
  height: 100%;
}

#table {
  overflow-y: auto;
  overflow-x: auto;
}