/* tweaking the relaiton list buttons */
.list-group-btn {
    text-align: left;
    border-radius: 0px;
}

/* making the dropdown-toggles more noticable */
.dropdown-toggle {
    cursor: pointer;
}

/* make the statement editor section stay the same size */
.panel > .panel-footer {
  min-height: 41px;
}

/* By default, buttons inside button groups inside vertical button groups
 * don't resize to their column. Not sure why? */
.btn-group-vertical > .btn-group > .btn {
  width: 100%;
}

/* working on getting the button group to stick to the bottom of its
 * container. */
#row_div {
  position: relative;
  min-height: 106px;
}

/* getting the padding between row items to work right */
.row *:not(:last-child) {
  padding-right: 0;
}

#statement_div, .panel, .panel-body {
  height: 100%;
}

/* #editor_button_group, #statement_div { */
.btn-group-vertical {
  position: absolute;
  bottom: 20px;
}

/* /1* removing excess space from the bottom of the panel *1/ */
/* /1* #editor_panel { *1/ */
/* .row > * { */
/*   margin-bottom: 0; */
/* } */

hr {
  margin-top: 0;
}

/* adding emphasis to the button group buttons w/ thicker borders */
#editor_button_group .btn {
  border-width: 2px;
  border-style: solid;
}

/* ======================================================================= */
/* Copied and pasted from bootstrap.css to give preference to buttons.     */
/* (was having issues w/ the buttons inside the list group)                */
/* ======================================================================= */

.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-primary {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
