FROM <span class='dropdown'>
    <a class='dropdown-toggle' ng-bind='action.relation.name'></a>
    <ul class='dropdown-menu text-left'>
        <li ng-repeat='rel in relations'>
        <a ng-click='action.relation = rel' ng-bind='rel.name'></a>
        </li>
    </ul>
</span>
PROJECT <span class='dropdown'>
    <a class='dropdown-toggle' ng-bind='action.attribute'></a>
    <ul class='dropdown-menu text-left'>
        <li ng-repeat='attr in action.relation.head'>
        <a ng-click='action.attribute = attr' ng-bind='attr'></a>
        </li>
    </ul>
</span>
;
