FROM <span class="dropdown"><a class="dropdown-toggle">{{current.relation}}</a>
<ul class="dropdown-menu text-left">
    <li ng-repeat="rel in relations">
        <a href="#" ng-click="current.relation = t">{{t.name}}</a>
    </li>
</ul></span>
SELECT WHERE <span class="dropdown"><a class="dropdown-toggle">{{current.value1}}</a>
<ul class="dropdown-menu text-left">
    <li ng-repeat="val in getRelColumns()">
        <a href="#" ng-click="current.value1 = val">{{val}}</a>
    </li>
</ul></span>
<span class="dropdown"><a class="dropdown-toggle">{{current.comparison}}</a>
<ul class="dropdown-menu text-left">
    <li ng-repeat="cond in getRelConditions()">
        <a href="#" ng-click="current.comparison = cond">{{cond}}</a>
    </li>
</ul></span>
<span class="dropdown"><a class="dropdown-toggle">{{current.value2}}</a>
<ul class="dropdown-menu text-left">
    <li ng-repeat="val in getComparisonValues()">
        <a href="#" ng-click="current.value2 = val">{{val}}</a>
    </li>
</ul></span>
;
